<nav class="navbar navbar-expand-sm ">
 
  <div class="container-fluid">
    <!-- Links -->
    <a class="navbar-brand mt-2 mt-lg-0" href="#">
      <img
        src="https://systems.aspiresys.com/profiles/commons/themes/contrib/Aspire_Assist_BFW/logo.png"height="50" width="90" loading="lazy"
      />
    </a>
 
<br><br>
    <div class="dashboard" *ngIf="!this.auth.isloggedIn()">
      <a mat-button routerLink="/dashboard" >
        <mat-icon matTooltip="Dashboard">dashboard</mat-icon>
      </a>
      
    </div>
    <div *ngIf="!this.auth.isloggedIn()">
      <a href="#" class="d-flex align-items-center" aria-expanded="false">
        <a mat-button routerLink="/login" matTooltip="Login" routerLinkActive="mat-accent">Login</a>&nbsp;&nbsp;
      </a>
    </div>

    <div *ngIf="auth.isloggedIn()" class="loggedin d-flex align-items-center">
      <a mat-button routerLink="/dashboard">
        <mat-icon matTooltip="Dashboard">dashboard</mat-icon>
      </a>
      
      <a href="#" class="d-flex align-items-center" aria-expanded="false">
        <a  class="firstname">Welcome {{ firstname }}&nbsp;&nbsp;{{ lastname }}&nbsp;&nbsp;&nbsp;&nbsp;</a>
        <a mat-button routerLink="/login" (click)="logout()" routerLinkActive="mat-accent">Logout</a>
      </a>
    </div>
  </div>
</nav>