<nav class="navbar navbar-expand-sm ">

  <div class="container-fluid">
    <!-- Links -->
    <a class="navbar-brand mt-2 mt-lg-0" href="#">
      <img
        src="https://systems.aspiresys.com/profiles/commons/themes/contrib/Aspire_Assist_BFW/logo.png"height="50" width="90" loading="lazy"
      />
    </a>

<br><br>
    <a href="#" class="d-flex align-items-center" aria-expanded="false">
      <a mat-button routerLink="/login" routerLinkActive="mat-accent">LOG IN</a>

    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQkjzEWfMZh_o_oJ4a3ntp-ZOUwETgf1l9hkQ&usqp=CAU" alt="hugenerd" width="30" height="30" class="rounded-circle">

  </a>

  </div>

</nav>
