.navbar{

  background-color: transparent;
  padding: 15px 0%;
  height: 75px;
  box-shadow: 0px 5px 14px #e2dfdf;
}
.container-fluid{
  padding-left: 50px;
}
.d-flex
{
  color: rgb(212, 0, 255);
  
}

.dashboard
{
  margin-right: -450px;
}

.firstname
{
  color: black;
}

.bell
{
  margin-right: -370px;
}

.loggedin
{
  margin-right: -15px;
}

