.title{
    font-weight: bolder;
    font-size: large;
    color: #8C42AD;
}
.btn{
    background-color: #8C42AD;
}
.text-gray-500 {
    --tw-text-opacity: 1;
    color: rgb(176 24 193);
    font-size: smaller;
}