.mat-typography {
  font-family: 'Roboto', sans-serif;
  padding: 16px;
}

.text-center {
  text-align: center;
}

.mat-form-field {
  width: calc(50% - 10px); /* 50% width for the first row with 10px gap on each side */
  margin-right: 30px; /* 10px right margin and 10px gap between fields */
  box-sizing: border-box;
  overflow: hidden;
}

input,
textarea {
  width: 100%; /* Full width for input and textarea */
  font-size: 0.875rem; /* Adjust the font size for input elements */
}

.text-sm {
  font-size: 0.75rem;
  color: #757575;
}

.mat-dialog-actions {
  margin-top: 14px;
}

.mat-hint {
  font-size: 0.625rem;
  color: rgb(205, 15, 205);
}

button[mat-button] {
  margin-right: 8px;
}

/* Clear the right margin for the last field in each row */
.mat-form-field:nth-child(1n) {
  margin-right: 10px;
}

/* Add media query for responsiveness on smaller screens */
@media (max-width: 768px) {
  .mat-form-field {
    width: 100%;
    margin-right: 0;
  }
}
