<form [formGroup]="userStoryForm" class="space-y-4 md:space-y-6">
  <h2 class="text-center"><strong>USER STORY</strong></h2>

  <mat-form-field class="w-full">
    <label for="description">Description:</label>
    <textarea matInput id="description" formControlName="description"></textarea>
    <mat-error *ngIf="userStoryForm.controls['description'].errors?.['required']">Field should not be empty.</mat-error>
    <mat-error *ngIf="userStoryForm.controls['description'].errors?.['minlength']">Description must be atleast 5 characters.</mat-error>
    <mat-error *ngIf="userStoryForm.controls['description'].errors?.['maxlength']">Description cannot be more than 100 characters.</mat-error>
  </mat-form-field>

  <mat-form-field class="w-full">
    <mat-select placeholder="Story point" id="storyPoint" formControlName="storyPoint">
      <mat-option *ngFor="let value of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]" [value]="value">{{value}}</mat-option>
    </mat-select>
    <mat-hint>*10 is the highest priority</mat-hint>
  </mat-form-field>

  <mat-form-field class="w-full">
    <label for="acceptanceCriteria">Acceptance Criteria:</label>
    <textarea matInput id="acceptanceCriteria" formControlName="acceptanceCriteria"></textarea>
    <mat-error *ngIf="userStoryForm.controls['acceptanceCriteria'].errors?.['required']">Field should not be empty.</mat-error>
    <mat-error *ngIf="userStoryForm.controls['acceptanceCriteria'].errors?.['minlength']">Acceptance criteria must be atleast 5 characters.</mat-error>
    <mat-error *ngIf="userStoryForm.controls['acceptanceCriteria'].errors?.['maxlength']">Acceptance criteria cannot be more than 100 characters.</mat-error>
  </mat-form-field>

  
  <mat-form-field class="w-full">
    <mat-select placeholder="Responsible" id="responsible" formControlName="responsible">
      <mat-option *ngFor="let data of user" [value]="data.id">{{data.firstName}} {{data.lastName}}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="w-full">
    <label for="comments">Comments:</label>
    <textarea matInput id="comments" formControlName="comments"></textarea>
  </mat-form-field>
   
  <mat-form-field class="w-full">
    <label for="statusId">Status:</label>
    <mat-select placeholder="Select status" id="statusId" formControlName="statusId">
      <mat-option *ngFor="let datas of status" [value]="datas.id">{{datas.state}}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="w-full" hidden>
    <label for="createdBy"></label>
    <input matInput type="number" id="createdBy" formControlName="createdBy" hidden>
  </mat-form-field>

  <button mat-button type="submit" (click)="submitUpdateUserStoryForm()" [disabled]="!userStoryForm.valid"
    class="btn w-full text-black rounded-lg text-sm px-5 py-2.5 text-center">Submit</button>
</form>