<mat-dialog-content class="mat-typography" [formGroup]="userStoryForm">
  <h2 class="text-center"><strong>USER STORY</strong></h2>

  <mat-form-field appearance="fill">
    <mat-label>Description</mat-label>
    <textarea matInput formControlName="description"></textarea>
    <mat-error *ngIf="userStoryForm.controls['description'].errors?.['required']">Field should not be empty.</mat-error>
    <mat-error *ngIf="userStoryForm.controls['description'].errors?.['minlength']">Description must be atleast 5 characters.</mat-error>
    <mat-error *ngIf="userStoryForm.controls['description'].errors?.['maxlength']">Description cannot be more than 100 characters.</mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Story Point</mat-label>
    <mat-select placeholder="Story point" id="storyPoint" formControlName="storyPoint">
      <mat-option *ngFor="let value of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]" [value]="value">{{value}}</mat-option>
    </mat-select>
    <mat-hint class="hint">*10 is the highest priority</mat-hint>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Acceptance Criteria</mat-label>
    <textarea matInput formControlName="acceptanceCriteria"></textarea>
    <mat-error *ngIf="userStoryForm.controls['acceptanceCriteria'].errors?.['required']">Field should not be empty.</mat-error>
    <mat-error *ngIf="userStoryForm.controls['acceptanceCriteria'].errors?.['minlength']">Acceptance criteria must be atleast 5 characters.</mat-error>
    <mat-error *ngIf="userStoryForm.controls['acceptanceCriteria'].errors?.['maxlength']">Acceptance criteria cannot be more than 100 characters.</mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Responsible</mat-label>
    <select matNativeControl formControlName="responsible">
      <option *ngFor="let data of user" [value]="data.id">{{ data.firstName }} {{ data.lastName }}</option>
    </select>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Comments</mat-label>
    <textarea matInput formControlName="comments"></textarea>
  </mat-form-field>

  <mat-form-field appearance="fill" hidden>
    <mat-label>Created By</mat-label>
    <input matInput type="number" formControlName="createdBy" hidden>
  </mat-form-field>

  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button [mat-dialog-close]="true" cdkFocusInitial [disabled]="userStoryForm.invalid" (click)="submitCreateUserStoryForm()">Submit</button>
  </mat-dialog-actions>
</mat-dialog-content>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
