<div class="container-fluid" [ngClass]="{'dark-mode': isDarkMode}" [style.background-image]="getBackgroundImage()">
  <div class="row flex-nowrap">
    <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-light">
      <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100"
      [ngClass]="{'dark-mode': isDarkMode}">

        <br>
        <ul id="menu" >
          <li>
            <button class="menu" mat-icon-button [matMenuTriggerFor]="userStoryMenu" aria-label="User Story">
              <mat-icon class="description">description</mat-icon>&nbsp;User Story
            </button>
            <mat-menu #userStoryMenu="matMenu">
              <button mat-menu-item (click)="openUserStory()">
                <mat-icon>create</mat-icon>
                Create User Story
              </button>
              <button mat-menu-item>
                <mat-icon>list</mat-icon>
                <a routerLink="/userStoryList"><span>User Story List</span></a>
              </button>
            </mat-menu>
          </li><br>
        
          
          <li>
            <button class="menu" mat-icon-button [matMenuTriggerFor]="bugMenu" aria-label="Bug">
              <mat-icon class="description">bug_report</mat-icon>&nbsp;Bug
            </button>
            <mat-menu #bugMenu="matMenu">
              <button mat-menu-item>
                <mat-icon>create</mat-icon>
                <span>Create Bug Ticket</span>
              </button>
              <button mat-menu-item>
                <mat-icon>list</mat-icon>
                <span>Bug Lists</span>
              </button>
            </mat-menu>
          </li><br>
        
          <li>
            <button class="menu" mat-icon-button [matMenuTriggerFor]="supportMenu" aria-label="Customer Support">
              <mat-icon class="description">headset_mic</mat-icon>&nbsp;Customer Support
            </button>
            <mat-menu #supportMenu="matMenu">
              <button mat-menu-item>
                <mat-icon>create</mat-icon>
                <span>Create Customer Support</span>
              </button>
              <button mat-menu-item>
                <mat-icon>list</mat-icon>
                <span>Customer Support Lists</span>
              </button>
            </mat-menu>
          </li><br>

          <li>
            <button class="menu" mat-icon-button aria-label="Tickets" (click)="openDialog()">
              <mat-icon class="description">notifications</mat-icon>
              <span class="notification-number" *ngIf="count > 0 ">{{count}}</span>&nbsp;&nbsp;Tickets 
            </button>
          </li><br>  
        
          <li>
            <button class="settings" mat-icon-button aria-label="Settings">
              <mat-icon class="description">settings</mat-icon>&nbsp;Settings
            </button>
          </li>

          <li>
              <mat-slide-toggle (change)="toggleMode()">Dark Mode</mat-slide-toggle>
          </li>
        </ul>
        
        <hr>
      </div>
    </div>
    <div class="col py-3;">
      <div class="text-center"><br><br>
        <h1>Welcome &nbsp; {{firstname}}&nbsp;{{lastname}}</h1>
        <h2>Start a new incident/security incident or request </h2>        
      </div>
    </div>
  </div>
</div>