<app-header></app-header>
<!-- suba -->
<div class="container-fluid">
  <div class="row flex-nowrap">
      <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-light">
          <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">


              <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-dark text-decoration-none" >
                  <span class="fs-5 d-none d-sm-inline ">Dashboard</span>
              </a><br>
              <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                  <li class="nav-item">
                      <a href="#" class="nav-link align-middle px-0">
                          <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Home</span>
                      </a>
                  </li>
                  <li class="nav-item">
                    <a href="#" class="nav-link align-middle px-0">
                        <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">View</span>
                    </a>
                </li>
                <li class="nav-item">
                  <a href="#" class="nav-link align-middle px-0">
                      <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Edit</span>
                  </a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link align-middle px-0">
                    <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Update</span>
                </a>
            </li>


              </ul>
              <hr>

          </div>
      </div>



      <script>
        function hideBar(e){
          e.preventDefault();
          var sidebar=document.querySelector(".sidebar");
          sidebar.classList.remove("show");
          sidebar.classList.add("hide");
        }
        function showBar(e){
          e.preventDefault();
          var sidebar=document.querySelector(".sidebar");
          sidebar.classList.remove("hide");
          sidebar.classList.add("show");
        }
      </script>

      <div class="col py-3;">
        <div class="text-center"><br><br>
          <h1>Welcome Team</h1>
            <h2>Start a new incident/security incident or request: </h2>

<br><br><br><br>
<div class="container h-100">
  <div class="row align-middle">
    <div class="col-md-6 col-lg-4 column">
      <div class="card gr-1">
        <div class="txt">
          <h2>User Story</h2>
          <p>Visual communication and problem-solving</p>
        </div>
        <!-- <a href="">more</a> -->
        <a mat-button routerLink="/createUserStory" routerLinkActive="mat-accent">New</a>
        <div class="ico-card">
        <i class="fa fa-rebel"></i>
      </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-4 column">
      <div class="card gr-2">
        <div class="txt">
          <h2>Bug</h2>
          <p>How design is implemented on the web.</p>
        </div>
        <!-- <a href="#">more</a> -->
        <a mat-button routerLink="/createBug" routerLinkActive="mat-accent">New</a>
      <div class="ico-card">
        <i class="fa fa-codepen"></i>
      </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-4 column">
      <div class="card gr-3">
        <div class="txt">
          <h2>Customer Support</h2>
          <p>User Interface and User Experience Design.</p>
        </div>
        <!-- <a href="#">more</a> -->
        <a mat-button routerLink="/createCustomerSupport" routerLinkActive="mat-accent">New</a>
      <div class="ico-card">
        <i class="fa fa-empire"></i>
      </div>
      </div>
    </div>

  </div>
</div>




      </div>
      </div>
  </div>
</div>



<app-footer></app-footer>
