<div class="flex items-center justify-center mx-auto pt-20">
    <div class="w-full bg-white rounded-lg shadow-lg sm:max-w-md xl:p-0">
      <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
        <p class="title text-center">BUG</p>
        <form [formGroup]="bugForm" (ngSubmit)="submitCreateBugForm()" class="space-y-4 md:space-y-6">
          <div>
            <label for="description">Description:</label>
            <textarea id="description" formControlName="Description"
              class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5"></textarea>
          </div>
          <div>
            <label for="environment">Environment:</label>
            <input type="text" id="environment" formControlName="Environment"
              class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5">
          </div>
          <div>
            <label for="priority">Priority:</label>
            <input type="number" id="priority" formControlName="Priority"
              class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5">
          </div>
          <div>
            <label for="responsible">Responsible:</label>
            <input type="text" id="responsible" formControlName="Responsible"
              class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5">
          </div>
          <div>
            <label for="regression">Regression:</label>
            <input type="checkbox" id="regression" formControlName="Regression"
              class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block p-2.5">
          </div>
          <div>
            <label for="fixedId">Fixed ID:</label>
            <input type="text" id="fixedId" formControlName="FixedId"
              class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5">
          </div>
          <div>
            <label for="notFixedReason">Not Fixed Reason:</label>
            <textarea id="notFixedReason" formControlName="NotFixedReason"
              class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5"></textarea>
          </div>
          <div>
            <label for="createdBy">Created By:</label>
            <input type="number" id="createdBy" formControlName="CreatedBy"
              class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5">
          </div>
          <div>
            <label for="statusId">Status ID:</label>
            <input type="number" id="statusId" formControlName="StatusId"
              class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5">
          </div>
          <div>
            <label for="version">Version:</label>
            <input type="number" id="version" formControlName="Version"
              class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5">
          </div>
          <div>
            <label for="comments">Comments:</label>
            <textarea id="comments" formControlName="Comments"
              class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5"></textarea>
          </div>
          <button type="submit"
            class="btn w-full text-white rounded-lg text-sm px-5 py-2.5 text-center">Submit</button>
  